@import "../styles/color-variables.scss";

section {
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
}

.home {
    background-image: url("../../public/top-view-agenda-glasses-pencil.jpg");
    background-size: cover;

  

    .home-informations {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;

        h1 {
            font-size: 65px;
            font-weight: 800;
            color: $secondary-color;
            text-transform: uppercase;
        }

        .social-image {
            width: 80px;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
        }

        .social-image:hover {
            transform: scale(1.1);
        }
    }
}

.area-de-atuacao {

    
    h1 {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .area-atuacao-informations {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 40px;
        margin-top: 20px;
        width: 100%;

        .container-information {
            max-width: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: $tertiary-color;
            padding: 10px 10px;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.3s ease-in;
            h2 {
                font-weight: 500;
                font-size: 25px;
            }
            
        }

        .container-information:hover{
            transform: scale(1.1);
        }
    }
}

.sobre-mim {
    background-color: $primary-color;
    color: $secondary-color;
    height: 150vh;

    h1 {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .sobre-mim-informations {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 80%;
        margin-top: 30px;

        .sobre-mim-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
           
          
            .assinatura{
                margin-top: 10px ;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .profissional-image {
            width: 300px;
            height: 300px;
            border-radius: 100%;
            border: 1px solid $secondary-color;
        }
    }

    .sobre-mim-formacao-academia {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        gap: 20px;
        width: 100%;

        .formacoes {
            list-style: circle;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 30px;
            font-size: 20px;
        }
    }
}

.clientes{
    height: 200vh;
    h1 {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .clientes-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-top: 40px;
        
        
        .cliente{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 0;
            width: 350px;
            height: 250px;
            box-shadow: 3px 3px 3px 3px $tertiary-color;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

            h2{
                font-weight: 500;
                font-size: 24px;
                margin-left: 10px;
            }

            .cliente-foto{
                width: 100%;
                height: 200px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                cursor: pointer;
            }

            .cliente-foto:hover{
                opacity: 0.6;
            }
        }
    }

}

@media (max-width:990px){

    section{
        height: 150vh;
    }

    .home{
        .home-informations{
            h1{
                font-size: 44px;
            }
        }
    }

    .area-de-atuacao{
        height: 200vh;
        
        .area-atuacao-informations{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
    }
    

    .sobre-mim{
        height: 250vh;

        .sobre-mim-informations{
            flex-direction: column;
            width: 80%;

            
        }

        .sobre-mim-formacao-academia{

            .formacoes{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
    }

    .clientes{
        height: 450vh;
        .clientes-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    
}

