@import "../styles/color-variables.scss";

section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
}

.home {
    background-image: url("../../public/top-view-agenda-glasses-pencil.jpg");
    background-size: cover;
  

    .home-informations {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;

        h1 {
            font-size: 65px;
            font-weight: 800;
            color: $secondary-color;
            text-transform: uppercase;
        }

        .social-image {
            width: 80px;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
        }

        .social-image:hover {
            transform: scale(1.1);
        }
    }
}

.area-de-atuacao {
    h1 {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .area-atuacao-informations {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        gap: 40px;
        margin-top: 20px;
        width: 100%;

        .container-information {
            max-width: 400px;
            h2 {
                font-weight: 500;
                font-size: 25px;
            }
        }
    }
}

.sobre-mim {
    background-color: $primary-color;
    color: $secondary-color;

    h1 {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .sobre-mim-informations {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 60%;
        margin-top: 30px;

        .sobre-mim-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          
            .assinatura{
                margin-top: 10px ;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .profissional-image {
            width: 80%;
            border-radius: 100%;
            border: 1px solid $secondary-color;
        }
    }

    .sobre-mim-formacao-academia {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        gap: 20px;
        width: 100%;

        .formacoes {
            list-style: circle;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            font-size: 20px;
        }
    }
}
